body{
    background-color: #d3d3d3;

}

p{
    color: #000a99;
}

h1, h2{
    color: #000000;
    
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
    }
}

.header h1 {
    margin-bottom: 10px;
}

.header img {
    margin-bottom: 10px;
}