{% extends 'base.html' %}

{% block heading %}
Add an incident
{% endblock %}

{% block content %}
<form class="incident-form" action="/add-incident" method="POST">
    <div class="mb-3">
        <label for="inc_name" class="form-label">Incident Name</label>
        <input type="text" class="form-control" id="inc_name" name="inc_name" required>
    </div>
    <div class="mb-3">
        <label for="inc_year" class="form-label">Year</label>
        <input type="number" class="form-control" id="inc_year" name="inc_year" required>
    </div>
    <div class="mb-3">
        <label for="inc_url" class="form-label">URL</label>
        <input type="url" class="form-control" id="inc_url" name="inc_url" required>
    </div>
    <div class="mb-3">
        <label for="vul_id" class="form-label">Vulnerability ID</label>
        <input type="number" class="form-control" id="vul_id" name="vul_id" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
