<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#3d6784">
        <title>{% block title %}Cyberwatch{% endblock %}</title>
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='icons/icon-192.png') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel='stylesheet' href='/static/css/styles.css'>

    </head>
    <body>
        <div class="header">
            <h1>Cyberwatch</h1>
            <h2>{% block heading%}Vulnerabilities tracker{% endblock %}</h2>
            <img src="/static/images/cyberwatch_logo.png" height="70">
        </div>
        <div class='content'>
            {% block content %}{% endblock %}
        </div>
        <script src="static/js/script.js">
            
        </script> 
    </body>
</html>
