{% extends 'base.html' %}

<!-- update the heading to be OWASP Vulnerabilities -->


<!-- Use a for loop to display the OWASP ranks in a table. -->
{% block content %}

<div class="row">
    {% for v in vulnerabilities %}
    <div class="col-12 col-md-6 mb-3">
        <div class="card p-3">
            <div class="vulnerability-card-top">
                <div class="vulnerability-main">
                    <h5>Rank: {{ v.owasp_rank }}</h5>
                    <p>{{ v.vul_name }}</p>
                </div>
                <div class="incident-indicator">
                    <span class="incident-label">Incidents</span>
                    <span class="incident-count">{{ v.incident_count }}</span>
                </div>
            </div>
            <a href="/incidents/{{ v.id }}" class="btn btn-primary">View</a>
            <br>
            <a href="/add-incident" class="btn btn-info">Add Incident</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
